/*
	Aerial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
/* Wrapper */
#wrapper {
  opacity: 1;
}

/* Overlay */
#overlay {
  opacity: 1;
}

/* Header */
#header {
  opacity: 1;
}
#header nav li {
  opacity: 1;
}

/* Footer */
#footer {
  background-image: url("images/ie/footer.svg");
}

/*# sourceMappingURL=ie9.css.map */
